:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
}
body
{
background-color: #FFFFFF;    
color:var(--primary-text-color)
}
.logo
 {color:var(--primary-text-color)
}
 .logo-accent 
 {color:var(--accent-color)
}
 ul{list-style: none;
}
 .link-nav .link 
 {color:var(--primary-text-color)
 }
 .auth-nav .link
 {
     color:var(--title-text-color)
 }
 .hero-title
{color: #FFFFFF;
}
 .section-title
 {color:var(--primary-text-color)
}
.feature-list .title
 {color:var(--primary-text-color)
}   
